/*---------------------------------------------------------------------------------------*/
/*voor de gegevens samen te groeperen*/
.box1_1::after{
	content:"";
	display: block;
	clear: both;
}

/*---------------------------------------------------------------------------------------*/
/*de stijl van de producten*/

.box_product{
    border: solid 2px #D9B2A9;
    width: 500px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    
}

.afbeelding_porduxt{
    margin-left: 100px;
    height: 500px;
    width: 290px;
}

.product_text{
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    float: left;
}

.prijs_product{
    padding-left: 20px;
}

.button{
    align-items: center;
    float: left;
    margin-top: 7px;
    margin-left: 20px;
}

.product_onderstaande::after{
	content:"";
	display: block;
	clear: both;
}

/*---------------------------------------------------------------------------------------*/
/*de stijl van de filter*/
.box_filter{
    border: #D9B2A9 solid 2px;
}

.filter{
    margin-left: 50%;
    color: #8EB2D9;
}

.filet_middel{
    margin-left: 45%;
}

.sub_check{
    margin-left: 50px;
    display: none;
}